.normal{
  background-color: #252523 !important;
  border-color: #252523 !important 
}

.fighting{
  background-color: darkred;border-color: darkred !important
}

.flying{
  background-color: lightcoral !important;border-color: lightcoral !important
}

.poison{
  background-color: #ac27b5 !important;border-color: #ac27b5 !important
}


.ground{
  background-color: brown !important;border-color: brown !important
}

.rock{
  background-color: sandybrown !important;border-color: sandybrown !important 
}

.bug{
  background-color: darkgreen !important;border-color: darkgreen !important
}

.ghost{
  background-color: gray !important;border-color: gray !important 
}

.steel{
  background-color: silver !important;border-color: silver !important 
}

.fire{
  background-color: red !important;border-color: red !important 
}

.water{
  background-color: #c0cdfb !important;border-color: #c0cdfb !important
}
.grass{
  background-color: green !important;border-color: green !important 
}

.electric{
  background-color: yellowgreen !important;border-color: yellowgreen !important
}

.psychic{
  background-color: #008aff !important;border-color: #008aff !important
}

.ice{
  background-color: #4ccccb !important;border-color: #4ccccb !important
}

.dragon{
  background-color: orange !important;border-color: orange !important
}

.dark{
  background-color: #ad8235;border-color: #ad8235 !important 
}

.fairy{
  background-color:lightblue;border-color: lightblue !important
}




.btn.disabled, .btn:disabled {
   opacity: 1 !important;
}

.cardHeaderFooter{
  background-color: #0062cc;
  border-radius: 20px 20px 0 0;
}
.card{
  border: 0  !important;
}
.name{
  font-family: 'cream', sans-serif;
  padding-bottom: 5px;
  padding-top: 40px;
  color: white;
}
.autocomplete-items{
  background-color: white;
  background-color: white;
  padding: 14px;
  font-family: 'cream', sans-serif;
  color: gray;
}
}
.row{
  margin-left: 0 !important;
}

.espacoCima{
    padding-top: 25px !important;
}

.ddd{
    display: none !important;
}

.aparece{
    display: block !important;
}
        
.search {
  /* display: flex; */
}

.search .search-input,
.search .search-button {
  border: 0;
  padding: 1em;
}

.search .search-button {
  /* background-color: #2b75bb; */
  /* color: #fff; */
  cursor: pointer;
  /* border-radius: 25px !important;    */
}


.pokemon .pokemon-picture {
  width: 150px;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 2px solid black;
  margin-left: auto !important;
  margin-right: auto !important;
}

.pokemon .pokemon-picture img {
  width: 100%;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position:left;
    background: transparent url("https://png.pngtree.com/thumb_back/fh260/background/20190331/pngtree-vector-white-abstract-background-design-templates-collection-wit-image_94438.jpg") left top;
  }